BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false
NamespaceIndentation: None
IndentCaseLabels: false
AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
AlignOperands: Align
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
IndentPPDirectives: AfterHash
Cpp11BracedListStyle: false
DisableFormat: true
