/Debug/
*.o
*.so
*.a
*.d
*.so.*
deploy/3lib/*
code/Core/Util/src/util/encrypt/
code/3party/bin
*.o
deploy/bin/
*.log
code/Net/src/Center
deploy/Center/bin/
deploy/Interface/bin/Interface
deploy/Logic/bin/Logic
deploy/Center/conf/Center.json
deploy/Center/conf/CenterCmd.json
deploy/Center/conf2/Center.json
deploy/Hello/conf/Hello.json
deploy/Interface/conf/Interface.json
deploy/Logic/conf/Logic.json
deploy/Hello/bin/Hello
deploy/3lib.zip
*.log.*
build
code/Net/src/Hello
code/Net/src/Logic
code/Net/src/Interface
code/Net/src/Hello
code/Net/src/Logic
code/Net/src/Interface
code/Net/src/Hello
code/Net/src/Logic
code/3party/include/